*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #252525;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#timer{
    border: 2px solid white;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 28px;
    color: white;
    border-radius: 25px;
    background-color: rebeccapurple;
    box-shadow: 2px 0 20px 4px rebeccapurple;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#shutDown{
    color: white;
}